	/*
  	Flaticon icon font: Flaticon
  	Creation date: 28/09/2018 23:20
  	*/

@font-face {
  font-family: "Flaticon2";
  src: url("../fonts/Flaticon2.eot");
  src: url("../fonts/Flaticon2.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon2.woff") format("woff"),
       url("../fonts/Flaticon2.ttf") format("truetype"),
       url("../fonts/Flaticon2.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon2";
    src: url("../fonts/Flaticon2.svg#Flaticon") format("svg");
  }
}

[class^="flaticon2-"]:before, [class*=" flaticon2-"]:before,
[class^="flaticon2-"]:after, [class*=" flaticon2-"]:after {   
  font-family: Flaticon2;
font-style: normal;
}



.flaticon2-logout:before { content: "\f100"; }
.flaticon2-like:before { content: "\f101"; }
.flaticon2-user:before { content: "\f102"; }
.flaticon2-calendar:before { content: "\f103"; }
.flaticon2-credit-card:before { content: "\f104"; }
.flaticon2-half-moon:before { content: "\f105"; }
.flaticon2-play-button:before { content: "\f106"; }
.flaticon2-approval:before { content: "\f107"; }
.flaticon2-room-key:before { content: "\f108"; }
.flaticon2-check-symbol:before { content: "\f109"; }
.flaticon2-discuss-issue:before { content: "\f10a"; }
.flaticon2-camera:before { content: "\f10b"; }
.flaticon2-edit:before { content: "\f10c"; }
.flaticon2-text-documents:before { content: "\f10d"; }
.flaticon2-bed:before { content: "\f10e"; }
.flaticon2-airplane:before { content: "\f10f"; }
.flaticon2-credit-card-1:before { content: "\f110"; }
.flaticon2-add-group:before { content: "\f111"; }
.flaticon2-traveler-with-a-suitcase:before { content: "\f112"; }
.flaticon2-file:before { content: "\f113"; }
.flaticon2-weather:before { content: "\f114"; }
.flaticon2-repeat-arrows:before { content: "\f115"; }
.flaticon2-repeat:before { content: "\f116"; }
.flaticon2-seats:before { content: "\f117"; }
.flaticon2-briefcase:before { content: "\f118"; }
.flaticon2-baby-boy:before { content: "\f119"; }
.flaticon2-calendar-1:before { content: "\f11a"; }
.flaticon2-gate:before { content: "\f11b"; }
.flaticon2-schedule-button:before { content: "\f11c"; }
.flaticon2-sun:before { content: "\f11d"; }
.flaticon2-clock:before { content: "\f11e"; }
.flaticon2-sun-1:before { content: "\f11f"; }
.flaticon2-trolley:before { content: "\f120"; }
.flaticon2-tag-black-shape:before { content: "\f121"; }