	/*
  	Flaticon icon font: Flaticon
  	Creation date: 28/09/2018 23:20
  	*/

@font-face {
  font-family: "Flaticon3";
  src: url("../fonts/Flaticon3.eot");
  src: url("../fonts/Flaticon3.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon3.woff") format("woff"),
       url("../fonts/Flaticon3.ttf") format("truetype"),
       url("../fonts/Flaticon3.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon3";
    src: url("../fonts/Flaticon3.svg#Flaticon") format("svg");
  }
}

[class^="flaticon3-"]:before, [class*=" flaticon3-"]:before,
[class^="flaticon3-"]:after, [class*=" flaticon3-"]:after {   
  font-family: Flaticon3;
font-style: normal;
}



.flaticon3-black-plane:before { content: "\f100"; }
.flaticon3-seat:before { content: "\f101"; }
.flaticon3-plane:before { content: "\f102"; }
.flaticon3-scan:before { content: "\f103"; }
.flaticon3-travel:before { content: "\f104"; }
.flaticon3-beach:before { content: "\f105"; }
.flaticon3-travel-1:before { content: "\f106"; }
.flaticon3-plane-1:before { content: "\f107"; }
.flaticon3-plane-2:before { content: "\f108"; }
.flaticon3-shield:before { content: "\f109"; }
.flaticon3-photo:before { content: "\f10a"; }
.flaticon3-close:before { content: "\f10b"; }
.flaticon3-next:before { content: "\f10c"; }
.flaticon3-back:before { content: "\f10d"; }
.flaticon3-eye:before { content: "\f10e"; }
.flaticon3-graph:before { content: "\f10f"; }
.flaticon3-stats:before { content: "\f110"; }
.flaticon3-chart:before { content: "\f111"; }
.flaticon3-mobile:before { content: "\f112"; }
.flaticon3-telephone:before { content: "\f113"; }
.flaticon3-email:before { content: "\f114"; }
.flaticon3-email-1:before { content: "\f115"; }