	/*
  	Flaticon icon font: Flaticon
  	Creation date: 28/09/2018 23:20
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}


.flaticon-add-user:before { content: "\f100"; }
.flaticon-bed:before { content: "\f101"; }
.flaticon-calendar:before { content: "\f102"; }
.flaticon-maps-and-location:before { content: "\f103"; }
.flaticon-luggage:before { content: "\f104"; }
.flaticon-find:before { content: "\f105"; }
.flaticon-avatar:before { content: "\f106"; }
.flaticon-menu:before { content: "\f107"; }
.flaticon-target:before { content: "\f108"; }
.flaticon-arrow-pointing-to-right:before { content: "\f109"; }
.flaticon-shuffle-arrow:before { content: "\f10a"; }
.flaticon-price:before { content: "\f10b"; }
.flaticon-map:before { content: "\f10c"; }
.flaticon-star:before { content: "\f10d"; }
.flaticon-add:before { content: "\f10e"; }
.flaticon-secur:before { content: "\f10f"; }
.flaticon-plane:before { content: "\f110"; }
.flaticon-hotel:before { content: "\f111"; }
.flaticon-edit:before { content: "\f112"; }
.flaticon-setup:before { content: "\f113"; }
.flaticon-maps-and-location-1:before { content: "\f114"; }
.flaticon-sort:before { content: "\f115"; }
.flaticon-network:before { content: "\f116"; }
.flaticon-heart-outline:before { content: "\f117"; }
.flaticon-wifi:before { content: "\f118"; }
.flaticon-hotel-1:before { content: "\f119"; }
.flaticon-wifi-1:before { content: "\f11a"; }
.flaticon-transportation:before { content: "\f11b"; }
.flaticon-supermarket:before { content: "\f11c"; }
.flaticon-scroll:before { content: "\f11d"; }
.flaticon-worker:before { content: "\f11e"; }
.flaticon-alarm:before { content: "\f11f"; }
.flaticon-loading:before { content: "\f120"; }
.flaticon-pin:before { content: "\f121"; }
.flaticon-clock:before { content: "\f122"; }
.flaticon-curved-returing-arrow:before { content: "\f123"; }
.flaticon-left-return-arrow:before { content: "\f124"; }
.flaticon-next:before { content: "\f125"; }
.flaticon-back:before { content: "\f126"; }
.flaticon-plus-symbol:before { content: "\f127"; }
.flaticon-minus-symbol:before { content: "\f128"; }
.flaticon-rubbish:before { content: "\f129"; }
.flaticon-boy:before { content: "\f12a"; }
.flaticon-bald-man-with-moustache:before { content: "\f12b"; }
.flaticon-event:before { content: "\f12c"; }
.flaticon-full-screen:before { content: "\f12d"; }
.flaticon-tick:before { content: "\f12e"; }
.flaticon-user:before { content: "\f12f"; }
.flaticon-information-button:before { content: "\f130"; }
.flaticon-restaurant:before { content: "\f131"; }
.flaticon-sun-1:before { content: "\f132"; }
.flaticon-sun:before { content: "\f133"; }
.flaticon-tools-and-utensils:before { content: "\f134"; }
.flaticon-key:before { content: "\f135"; }
.flaticon-street:before { content: "\f136"; }
.flaticon-keyhole:before { content: "\f137"; }
.flaticon-quality-badge:before { content: "\f138"; }
.flaticon-favorites-button:before { content: "\f139"; }
.flaticon-hotel-with-three-floors:before { content: "\f13a"; }
.flaticon-computer-monitor:before { content: "\f13b"; }
.flaticon-kid-and-baby:before { content: "\f13c"; }
.flaticon-shop:before { content: "\f13d"; }
.flaticon-translation:before { content: "\f13e"; }
.flaticon-team:before { content: "\f13f"; }
.flaticon-group:before { content: "\f140"; }
.flaticon-love:before { content: "\f141"; }
.flaticon-manager:before { content: "\f142"; }
.flaticon-work:before { content: "\f143"; }
.flaticon-chat:before { content: "\f144"; }
.flaticon-circle-of-two-clockwise-arrows-rotation:before { content: "\f145"; }
.flaticon-customer:before { content: "\f146"; }
.flaticon-medal:before { content: "\f147"; }
.flaticon-arrow-pointing-to-up:before { content: "\f148"; }
.flaticon-arrow-pointing-to-down:before { content: "\f149"; }
.flaticon-twitter:before { content: "\f14a"; }
.flaticon-facebook:before { content: "\f14b"; }
.flaticon-google-plus:before { content: "\f14c"; }
.flaticon-black-back-closed-envelope-shape:before { content: "\f14d"; }
.flaticon-telephone:before { content: "\f14e"; }
.flaticon-lock:before { content: "\f14f"; }
.flaticon-visibility-button:before { content: "\f150"; }
.flaticon-eye-with-a-diagonal-line-interface-symbol-for-invisibility:before { content: "\f151"; }
.flaticon-search:before { content: "\f152"; }
.flaticon-global:before { content: "\f153"; }
.flaticon-mail:before { content: "\f154"; }
.flaticon-airplane:before { content: "\f155"; }
.flaticon-padlock:before { content: "\f156"; }