/*Big Size Screens*/
@media (min-width:991px) and (max-width: 1200px)
{
	.header .container-fluid
	{
		padding:0 15px
	}
	
	.header .logo
	{
		margin-left:30px
	}
	
	.header .linksMenu li:not(:last-of-type):after
	{
		margin-left: 15px;
		margin-right:15px
	}
	
	.headerToggle
	{
		margin-right:15px;
	}
	
	.header .btnLogin
	{
		margin-right:15px;
	}
	
	.ticket .item .leftSection
	{
		text-align:center
	}
	
	.ticket .item .centerTime
	{
		float:none;
		display:inline-block;
		margin:0;
		width:150px
	}
	
	.ticket .item .centerTime2
	{
		width:auto;
	    margin-right: 7px;
	}
	
	.ticket .item .titleSection .leftTime, .ticket .item .titleSection .RightTime
	{
		width:40%
	}
	
	.ticket .item .titleTime
	{
		font-size:14px;
	}

	
	.ticket .item .location
	{
		font-size:12px;
	}	
	
	.filterPage .accordion
	{
		padding:0 10px
	}
	
	.filterPage .accordion label
	{
		padding-right:0;
		font-size:12px
	}
	
	.interfaceFlight .items .item
	{
		padding:35px 20px
	}
	
	.interfaceFlight .items .item .content .titleCounry
	{
		font-size:17px;
	}
	
	.interfaceFlight .items .item .content img
	{
	    right: 0;
	    top: 7px;
	    width: 40px;
	    height: 40px;
	}
	
	.interfaceFlight .items .item .content
	{
		padding-right:50px
	}
	
	.detailsTairn .tabsbtns li
	{
		padding-left:19px;
		padding-right:19px;
	}
	
	.linksFooter .titleLinks
	{
		font-size:15px;
	}
	
	.searchMapModal .modal-dialog
	{
		width: 100%;
    	padding-left: 15px;
	}
	
	.searchMapModal .itemHotel .content .btnStyle
	{
		width:100%;
		padding:0
	}
	
	.searchMapModal .itemHotel .mask
	{
		width:100px
	}
	
	.listProfileLinks li a
	{
		font-size:16px;
	}
	
	.room .servicesTable .head .titleTable
	{
		font-size:16px
	}
	.room .servicesTable .tableDetails tr td:nth-of-type(2)
	{
		padding:20px 10px
	}
	
	.room .servicesTable .tableDetails .icon
	{
		font-size:15px;
		margin-left:5px
	}
	
	.room .servicesTable .tableDetails .numb
	{
		font-size:15px;
	}
	
	.moreHotels .owl-controls .owl-buttons div
	{
		opacity: 0.5;
		right:0
	}
	
	.moreHotels .owl-controls .owl-buttons div:hover
	{
		opacity: 1
	}
	
	.moreHotels .owl-controls .owl-buttons div.owl-prev
	{
		left:0;
	}
	
	.review .listReview li
	{
		font-size:13px;
	}

	.reviews .reviewsHead .leftSection .desc
	{
		font-size:17px;
	}
	
	.breadCrumb .edit
	{
		margin-right:15px;
	}
	
	.hotelDetails .itemHotel .mapTickets
	{
		height:300px
	}
	
	.SliderFixed .slider,
	.SliderFixed .sliderDetails
	{
		width:50%;
	}
	
}

/* small Screens & tablets & Smart phone */
@media (max-width: 991px) 
{

	.searchContent
	{
		padding-top:70px;
		padding-bottom:70px
	}
	
	.searchContent .titleSection
	{
		font-size:27px;
		margin-bottom:20px
	}
	
	.searchContent .descSection
	{
		font-size:21px;
		margin-bottom:30px
	}
	
	.searchContent .contentToggle.contentTimer
	{
		width:100%
	}
	
	.searchContent .contentToggle.numberTravelers
	{
		width:100%
	}
	
	.numberContent li .text
	{
		font-size:13px;
	}
	
	.numberContent li .numbers .numb
	{
		margin:0
	}
	
	.searchContent .locationStart.selectLocation .iconAngle
	{
		top:7px
	}
	
	.searchContent .filtersTab2
	{
		position: static;
		margin-bottom:20px;
		text-align:center
	}
	
	.searchContent .container
	{
		padding:30px 20px
	}
	
	.searchContent .filtersTab2 li
	{
	    padding: 0 5px;
	    font-size:11px;
	    float:none;
	    display:inline-block
	}
	
	.searchContent .filtersTab2 li:not(:last-of-type)
	{
		margin-left:5px;
	}
	
	.appMobile
	{
		padding-top:70px;
		padding-bottom:400px;
		text-align:center;
		position: relative
	}
	
	.appMobile .title
	{
		margin-top:0;
	}
	
	.appMobile .appLogo
	{
		display:inline-block;
		float:none;
		max-width:100%
	}
	
	.appMobile .col-md-5
	{
		position: static
	}
	
	.appMobile .imageMobile
	{
	    position: absolute;
	    bottom: 0;
	    width: 400px;
	    max-width:100%;
	    margin-bottom: -200px;
	    right: calc(50% - 200px);
	}
	
	.interfaces .item .mask
	{
		padding-top: 97%;
	}
	
	.linksFooter .linksHead
	{
		
	}
	
	.linksFooter .titleLinks
	{
		height:auto;
		line-height:inherit;
		padding:15px 0;
		display:block;
		width:100%;
	}

	.linksFooter .titleLinks.hiddenTitle
	{
		display:block
	}
	
	.header
	{
		padding:10px 0
	}
	
	.heightHeader
	{
		height:90px
	}
	
	.header .container-fluid
	{
		padding:0 15px
	}
	
	.header .logo
	{
		margin-top:0;
		width:75px
	}

	.header .linksMenu,
	.header .headerToggle,
	.header .btnLogin
	{
		display:none;
	}
	
	.openMenu
	{
		display:block
	}
	
	.login-modal .rightSection .title
	{
		font-size:18px
	}
	.login-modal .leftSection .content .btnLogin
	{
		font-size:14px;
	}
	
	.breadCrumb .breadList
	{
		float:none;
	}
	
	.breadCrumb .listDetails
	{
		float:none;
	}
	
	.breadCrumb.float .breadList
	{
		margin-top:0;
		margin-bottom:15px;
	}
	
	.steps
	{
		text-align:right
	}
	
	.steps .step
	{
		margin-bottom:20px
	}
	
	.steps .step .numb
	{
		width:45px;
		height:45px;
		line-height:45px;
	}
	
	.ticket .item .centerTime
	{
		width:200px
	}
	
	.ticket .item .centerTime2
	{
		width:auto
	}
	
	.tickets .headTitles
	{
		margin-bottom:20px
	}
	
	.tickets .headTitles .country:last-of-type
	{
		margin-right:0
	}
	
	.tickets .headTitles.toggleHead .toggleContent .listToggle
	{
		right:-20px
	}
	
	.TicketsModal .modal-dialog
	{
		width:auto;
		max-width:auto;
		margin:20px 0
	}
	
	.bookingFlightHead .bg img
	{
		width:auto;
		height:auto;
		min-width:100%;
		min-height:100%
	}
	
	.interfaceFlight .items .item
	{
		padding:35px 20px
	}
	
	.interfaceFlight .items .item .content .titleCounry
	{
		font-size:17px;
	}
	
	.interfaceFlight .items .item .content img
	{
	    right: 0;
	    top: 7px;
	    width: 40px;
	    height: 40px;
	}
	
	.interfaceFlight .items .item .content
	{
		padding-right:50px
	}
	
	.infoTairn .col-md-3
	{
		border:none!important;
		border-bottom:1px solid #464E81!important;
		text-align:right
	}
	
	.searchModalPage .mapGoog
	{
		height:500px;
		padding:10px;
    	background-color: #fff;
    	box-shadow: 0 4px 10px rgba(60, 64, 67, 0.3);
	}
	
	.moreHotels .owl-controls .owl-buttons div
	{
		opacity: 0.5;
		right:0
	}
	
	.moreHotels .owl-controls .owl-buttons div:hover
	{
		opacity: 1
	}
	
	.moreHotels .owl-controls .owl-buttons div.owl-prev
	{
		left:0;
	}
	
	.hotelDetails .aboutContent.HotelDesc,
	.hotelDetails .aboutContent.features
	{
		min-height:auto
	}
	
	.hotelDetails .itemHotel .content
	{
		padding-bottom:50px;
		width:100%;
	}
	
	.hotelDetails .itemHotel .mapTickets
	{
		width:100%;
		float:none;
		display:block
	}
	
	.SliderFixed .slider,
	.SliderFixed .sliderDetails
	{
		width:50%;
	}
	
	.SliderFixed .carousel-control.left, .SliderFixed .carousel-control.right
	{
		width:40px;
		height:40px;
		line-height:40px;
		font-size:20px;
		top:calc(50% - 15px)
	}
	
	.SliderFixed .TagsList li
	{
		font-size:13px;
	}
	
	.header .profileHeader
	{
		display:none;
	}
	
	.breadCrumb .searchContent.active
	{
		position: absolute;
		top:calc(100% + 20px);
	}
	
	.interfaces .title
	{
		margin-bottom:30px
	}
	
	.interfaces .more
	{
		display:inline-block;
		position: static;
		margin-bottom:20px
	}
	
	.profile .formBookNow .btnFormStyle
	{
		width:100%
	}
	
}

/* Small Screens */
@media (min-width: 768px) and (max-width: 991px) 
{
	
	
}

/* Mobile & Tablets */
@media (max-width: 767px) 
{
	
	.modal-open .modal
	{
		padding:0 15px!important
	}
	
	.login-modal .modal-dialog
	{
		width:auto;
		max-width:auto;
		margin:20px 0
	}
	
	.login-modal .rightSection
	{
		display:none
	}
	
	.login-modal .leftSection
	{
		width:100%
	}
	
	.login-modal .close
	{
		color:#000;
		border-color:#000
	}
	
	.breadCrumb .listDetails li
	{
		width:50%
	}
	
	.breadCrumb .edit
	{
		float:none;
		position: absolute;
		left:15px;
		top:20px;
	}
	
	.breadCrumb .listDetails li
	{
		border-right: 1px solid #E4EBF3;
		padding-bottom:15px;
		padding-right:35px
	}
	
	.breadCrumb .listDetails li i
	{
		right:10px
	}
	
	.breadCrumb .listDetails li span
	{
		font-size:13px;
	}

	
	.formMessage .textareaStyle textarea
	{
		padding-left:25px;
	}
	
	.formMessage .textareaStyle button
	{
		position:static;
		margin-top:15px;
		width:100%
	}
	
	.mapAbout .tabsHead .tabsbtns li
	{
		height:70px;
		line-height:70px;
		padding:0 15px;
		font-size:16px;
	}
	
	.paymentPage2 .payment .item .imageitem
	{
		width:90px;
		height:90px
	}
	
	.paymentPage2 .payment .item .details
	{
		width:calc(100% - 90px);
	}
	
	.paymentPage2 .payment .item .details .title
	{
		max-width:180px;
		font-size:15px;
		margin-bottom:10px;
	}
	
	.paymentPage2 .payment .item .listTags li a
	{
		font-size:14px;
	}
	
	.paymentPage2 .payment .item .timeRight .titleTime
	{
		font-size:13px;
	}
	
	.paymentPage2 .payment .item .timeRight .dateFooter
	{
		font-size:12px;
	}
	
	.ticket .item .leftSection
	{
		padding-left:25px
	}
	
	.ticket .item .btnDetails
	{
		position:static;
		margin-top:20px;
		margin-bottom:20px
	}
	
	.ticket .item .leftSection
	{
		text-align:center;
		float:none;
		width:100%
	}
	
	.ticket .item .centerTime
	{
		float:none;
		display:inline-block
	}
	
	.ticket .item .images
	{
		padding:30px 15px 30px;
		margin-bottom:15px;
		float:none;
		width:100%;
		text-align:center
	}
	
	.ticket .item .images img
	{
		float:none;
	}

	.ticket .item .images:before
	{
		width:100%;
		height:1px;
		bottom:0;
		top:auto;
	    background-image: linear-gradient(to right, #969696 40%, rgba(255, 255, 255, 0) 20%);
	    background-position: top;
	    background-size: 11px 1px;
	    background-repeat: repeat-x;
	}

	.BookingNowBtn, .BookingNowBtn:hover, .BookingNowBtn:focus
	{
		margin-left:0;
		width:150px;
	}
	.TicketsModal .modal-body
	{
		padding:30px 15px
	}
	
	.flightInfo .accordion .accordion-title .iconToggle
	{
		margin-right:10px
	}
	
	.interfaceFlight .aboutFlight img
	{
		height:auto
	}
	
	.detailsTairn .tabsbtns li
	{
		display:block;
	}
	.hotelDetails .itemHotel .content 
	{
		padding-left:0
	}
	
	.hotelDetails .itemHotel .content .leftSection
	{
		position: relative;
		padding-left:0;
		left:auto;
		top:auto
	}
	
	.hotelDetails .itemHotel .content .shareDiv,
	.hotelDetails .itemHotel .content .heart
	{
		position:absolute;
		left:20px;
		top:20px
	}
	
	.hotelDetails .itemHotel .content .heart
	{
		left:85px
	}
	
	.hotelDetails .itemHotel .content .newPrice
	{
	    position: absolute;
    	bottom: 10px;
    	right: 20px;
    	margin:0;
    	text-align: right;
	}
	
	.hotelDetails .itemHotel .mask a
	{
		font-size:20px
	}
	
	.tickets .searchTickets a
	{
		display:none;
	}

	.tickets .searchTickets button
	{
		display:block
	}
	
	.room .servicesTable .tableDetails td:nth-of-type(2)
	{
		text-align:center
	}
	
	.room .servicesTable .tableDetails tr td
	{
		width:100%!important;
		border-left:none!important;
		border-bottom:1px solid #E1EBF6;
		display:block;
		padding:20px 15px!important
	}
	
	.room .servicesTable .tableDetails .icon,
	.room .servicesTable .tableDetails .numb
	{
		float:none;
		margin-left:0;
		margin-right:5px;
	}
	
	.room .servicesTable .head .titleTable
	{
		width:33.333333%!important;
		font-size:14px;
		text-align:center;
		padding:0!important
	}
	
	.profile .contentTab .FormSearchTabs,
	.profile .contentTab .tabsContentHead
	{
		float:none;
	}
	
	.profile .contentTab .FormSearchTabs
	{
		margin-bottom:20px
	}
	
	.profile .contentTab .FormSearchTabs input
	{
		width:77%;
		margin-left:0;
	}
	
	.profile .contentTab .FormSearchTabs button
	{
		width:20%;
		float:left
	}
	
	.reviews .reviewsHead .rightSection,
	.reviews .reviewsHead .leftSection
	{
		width:100%;
		float:none;
	}
	
	.reviews .reviewsHead .rightSection
	{
		margin-bottom:30px
	}
	
	.itemHotel .mask
	{
		width:50%
	}
	
	.itemHotel .content
	{
		width:100%;
		padding:15px 0 0
	}
	
	.hotelDetails .itemHotel .leftSection a
	{
		float:right;
	}

	.hotelDetails .itemHotel .leftSection a:nth-of-type(odd)
	{
		margin-right:0;
		margin-left:15px;
	}
	
	.hotelDetails .itemHotel .content .shareDiv,.hotelDetails .itemHotel .content .heart
	{
		position: static
	}
	
	.hotelDetails .tabsbtnsHead li
	{
		font-size:14px;
	}
	
	.hotelDetails .tabsbtnsHead li i
	{
		margin-left:5px;
	}
	
	.SliderFixed .slider, .SliderFixed .sliderDetails
	{
		float:none;
		width:100%
	}
	
	.SliderFixed .sliderDetails .titleSlider
	{
		margin-bottom:20px;
		font-size:20px
	}
	
	.SliderFixed .sliderDetails .subTitle
	{
		margin-bottom:10px;
		font-size:20px
	}
	
	.SliderFixed
	{
		overflow: auto;
		background-color:#fff;
	}
	
	.SliderFixed .sliderDetails
	{
		padding:20px 15px 0;
		height:auto
	}
	
	.SliderFixed .slider
	{
		padding:0 15px 30px;
		min-height:auto
	}
	
	.SliderFixed .sliderDetails .subTitle,
	.SliderFixed .sliderDetails .titleSlider
	{
		margin-right:0
	}
	
	.SliderFixed .sliderDetails .TagsList
	{
		padding-left:0;
		padding-right:0;
	}
	
	.SliderFixed .sliderDetails .TagsList:not(:last-of-type)
	{
		padding-bottom:10px;
		margin-bottom:10px
	}
	
	.SliderFixed .BgClose
	{
		display:none;
	}
	
	.appMobile .appLogo:not(:last-of-type)
	{
		margin-left:0;
		margin-bottom:15px;
	}
	
	.footerSite .subscripe input
	{
		width:100%;
		margin-bottom:15px;
	}
	.footerSite .subscripe button
	{
		width:100%
	}

}

/* Tablets */
@media (min-width:480px) and (max-width: 767px)
{

}

/* Mobile */
@media (max-width: 479px) 
{
	
	.searchContent .locationStart .Start span
	{
		font-size:11px;
	}
	
	.searchContent .locationStart .Start .iconRight
	{
		width:35px;
	}
	
	.searchContent .locationStart .Start
	{
		padding-right:35px
	}
	
	.searchContent .locationStart.selectLocation .iconAngle
	{
		left:15px;
	}
	
	.searchContent .labelCheck
	{
		font-size:12px;
		margin-top:15px
	}
	
	.searchContent .addTrip
	{
	    padding: 0 5px;
	    height: 30px;
	    line-height: 25px;
	    font-size: 11px;
	}
	
	.searchContent .addTrip i
	{
		margin-left:5px;
		margin-top:0;
	}
	
	.searchContent .labelCheck span
	{
		margin-top:0;
		margin-left:3px;
	}

	
	.searchContent .cancle
	{
		margin-right:5px
	}
	
	.appMobile
	{
		padding-bottom:300px
	}
	
	.appMobile .imageMobile
	{
	    width: 300px;
	    margin-bottom: -150px;
	    right: calc(50% - 150px);
	}
	
	.appMobile .appLogo:not(:last-of-type)
	{
		margin-left:0;
		margin-bottom:15px
	}
	
	.linksFooter .listLinks.linksFloat li
	{
		width:100%
	}
	
	.phoneSection .title
	{
		font-size:30px
	}
	
	.phoneSection .desc
	{
		font-size:16px;
	}
	
	.phoneSection .numb
	{
		font-size:30px
	}
	
	.footer .desc
	{
		font-size:15px;
	}
	
	.footer .subscripe input
	{
		width:100%;
		margin-bottom:15px;
	}
	
	.footer .subscripe button
	{
		width:100%
	}
	
	.interfaces
	{
		padding-top:60px
	}
	
	.interfaces .title
	{
		font-size:30px
	}
	
	.interfaces .more
	{
		top:45px
	}
	
	.aboutUs .owlAbout img
	{
		height:auto
	}
	
	.aboutUs .owl-theme .owl-controls .owl-buttons div
	{
		opacity: 0.7
	}
	
	.aboutUs .owl-theme .owl-controls .owl-buttons div:hover
	{
		opacity: 1
	}
	
	.ticket .item .centerTime
	{
		width:128px;
		margin:0
	}
	.ticket .item .centerTime2
	{
		width:auto
	}
	
	.ticket .item .titleSection .leftTime, .ticket .item .titleSection .RightTime
	{
		width:35%
	}
	.ticket .item .leftSection
	{
		padding-left:15px;
		padding-right:15px
	}
	
	.ticket .item .titleTime
	{
		font-size:13px
	}
	
	
	.ticket .item .location
	{
		font-size:11px;
	}
	
	.tickets .ticket .item .titleSection .leftTime,.tickets  .ticket .item .titleSection .RightTime
	{
		width:40%
	}
	.tickets .ticketsContent
	{
		padding:30px 15px
	}
	
	.BookingNowBtn, .BookingNowBtn:hover, .BookingNowBtn:focus
	{
		margin-left:0;
		width:100%;
		margin-top:15px;
	}
	
	.tickets .headTitles .country
	{
		margin-right:15px;
		font-size:15px
	}
	
	.flightInfo .accordion .accordion-title .title
	{
		font-size:13px;
	}
	
	.flightInfo .accordion .accordion-content .rightSection
	{
		width:87px
	}
	
	.flightInfo .accordion .accordion-content .rightSection .timeStart .date, 
	.flightInfo .accordion .accordion-content .rightSection .timeEnd .date
	{
		font-size:14px;
	}
	
	.flightInfo .accordion .accordion-content .rightSection .timeStart .dateText, 
	.flightInfo .accordion .accordion-content .rightSection .timeEnd .dateText
	{
		font-size:13px
	}
	
	.flightInfo .accordion .accordion-content .rightSection .timeCenter
	{
		font-size:13px
	}
	
	.flightInfo .accordion .accordion-content .accDetails
	{
		padding-right:107px;
		padding-left:15px;
	}
	
	.flightInfo .accordion .accordion-content .contentAcc:before
	{
		right:86px
	}
	
	.flightInfo .accordion .accordion-content .accDetails .details .title,
	.flightInfo .accordion .accordion-content .accDetails .details .imageText .contentImage .titleImage
	{
		font-size:12px;
	}
	
	.flightInfo .accordion .accordion-content .accText
	{
	    width: calc(100% - 113px);
	    padding-right:15px;
	}
	
	.cancleTable tr td
	{
		font-size:13px;
	}
	
	.interfaceFlight .items .item .content
	{
		width:100%;
		max-width:100%
	}
	
	.interfaceFlight .items .item
	{
		padding-bottom:50px
	}
	
	.interfaceFlight .items .item .centerSection
	{
		width:100%;
		margin:15px 0
	}
	
	.itemHotel .content .rateText,
	.itemHotel .content .Sale,
	.itemHotel .content .shareDiv .openShare,
	.itemHotel .content .heart,
	.itemHotel .listTags li a
	{
		font-size:14px
	}
	
	.itemHotel .mask
	{
		width:100%
	}
	
	.itemHotel .content
	{
		padding-right:0;
		width:100%;
		padding-top:20px;
		position:relative
	}
	
	.itemHotel .content .titleHotel
	{
		font-size:15px;
		margin-bottom:5px
	}
	
	.itemHotel .content .location
	{
		font-size:13px;
	}
	
	.itemHotel .listTags
	{
		margin-top:0
	}
	.itemHotel .content .btnStyle
	{
		height:40px;
		line-height:40px
	}
	
	.itemHotel .content .leftSection
	{
		padding-top:15px
	}
	
	.itemHotel .content .shareDiv
	{
		left:0;
		top:0;
		display:inline-block;
		float:none;
		margin-right:0;
		margin-left:15px;
	}
	
	.itemHotel .content .heart
	{
		top:0;
		left:0
	}
	
	.itemHotel .content .listSocial
	{
		left:auto;
		right:0;
	}
	
	.itemHotel .content .newPrice
	{
		position:static;
		left:0;
		top:0;
		right:auto;
		bottom:auto;
		text-align:center
	}
	
	.itemHotel .content .newPrice .oldPrice
	{
		font-size:14px
	}
	
	.itemHotel .content .Sale
	{
		margin-top:-1px
	}
	
	.itemHotel .leftSection
	{
		position: static
	}
	
	.profile .tabsbtnsHead li
	{
		width:100%
	}
	
	.room .servicesTable .head .titleTable
	{
		font-size:12px;
		height:50px;
		line-height:50px
	}
	
	.room .size
	{
		margin-bottom:15px;
		width:100%;
		text-align:center
	}
	
	.profile .contentTab .FormSearchTabs input,
	.profile .contentTab .FormSearchTabs button
	{
		width:100%;
	}
	
	.profile .contentTab .FormSearchTabs button
	{
		margin-top:10px
	}
	
	.profile .contentTab .tabsContentHead li
	{
		font-size:15px;
	}
	
	.profile .contentTab .tabsContentHead li:not(:last-of-type):after
	{
		margin:0 10px
	}
	
	.hotelDetails .tabsbtnsHead li
	{
		font-size:13px;
	}
	
	.hotelDetails .tabsbtnsHead li i
	{
		font-size:14px;
		display:none;
	}
	
	.hotelDetails .tabsbtnsHead li.active:before
	{
		width:70px
	}
	
	.hotelDetails .tabsbtnsHead li:before
	{
		right:calc(50% - 35px)
	}
	
}